<head>
<!-- Meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{%if page.title %}{{ page.title }} | {% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.desc %}{{ page.desc | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absolute_url }}">
  
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TechArticle",
    "name": "{%if page.title %}{{ page.title }} | {% else %}{{ site.title }}{% endif %}",
    "headline": "{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
    {%if page.image %}"image": "{{site.url}}/thumbs/{{ page.image }}",{% else %}"image": "{{site.url}}/img/{{ site.logo }}",{% endif %}
    "description": "{% if page.desc %}{{ page.desc}}{% else %}{{ site.description}}{% endif %}",
    "logo": "",
    "url": "{{ site.url }}{{ page.url }}"
  }
</script>
</head>
